MonAgenda/MyAgendaWPF/WebApplication1/Service References/ServiceAgenda/ServiceAgenda1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3264/ServiceAgenda.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebServiceAgenda.Business" />
  <xs:element name="getAllArtistes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllArtistesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebServiceAgenda.Business" minOccurs="0" name="getAllArtistesResult" nillable="true" type="q1:ArrayOfArtisteWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getArtiste">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Guid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getArtisteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WebServiceAgenda.Business" minOccurs="0" name="getArtisteResult" nillable="true" type="q2:ArtisteWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEvenements">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllEvenementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WebServiceAgenda.Business" minOccurs="0" name="getAllEvenementsResult" nillable="true" type="q3:ArrayOfEvenementWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEvenementsByArtiste">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WebServiceAgenda.Business" minOccurs="0" name="Artiste" nillable="true" type="q4:ArtisteWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEvenementsByArtisteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WebServiceAgenda.Business" minOccurs="0" name="getEvenementsByArtisteResult" nillable="true" type="q5:ArrayOfEvenementWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllLieux">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllLieuxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WebServiceAgenda.Business" minOccurs="0" name="getAllLieuxResult" nillable="true" type="q6:ArrayOfLieuWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLieuxEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="evenement" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLieuxEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WebServiceAgenda.Business" minOccurs="0" name="getLieuxEventsResult" nillable="true" type="q7:ArrayOfLieuWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mdp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nbPlacesDisponible">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WebServiceAgenda.Business" minOccurs="0" name="pElements" nillable="true" type="q8:PlanningElementWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nbPlacesDisponibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nbPlacesDisponibleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReserverPlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nbPlaces" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WebServiceAgenda.Business" minOccurs="0" name="pElements" nillable="true" type="q9:PlanningElementWS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReserverPlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReserverPlaceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>